.App {
    text-align: center;
  }
  
.card {
    background-color: #eff4ff;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: black;
  }